{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<!-- Блок с фоновым изображением -->
<div class="position-relative"
     style="
       background: url('{% static "images/flower.jpg" %}') no-repeat center center;
       background-size: cover;
       height: 400px;
     ">
  <!-- Полупрозрачный оверлей -->
  <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center"
       style="background-color: rgba(0, 0, 0, 0.3);">
    <h1 class="display-4 fw-bold text-white">🌸 Магазин цветов</h1>
    <p class="lead text-white">Лучшие цветочные композиции для любого случая</p>
    <a class="btn btn-primary btn-lg" href="{% url 'catalog' %}">Перейти в каталог</a>
  </div>
</div>

<!-- Дополнительный информационный блок -->
<div class="container my-4">
  <p class="text-center">
    Зарегистрируйтесь для получения доступа к личному кабинету и возможности оформить заказ, а также для получения нашего Телеграм-бота с уведомлениями о статусе заказа.
  </p>

    <p class="text-center">
    После оформления заказа мы вам перезвоним в рабочее время с 8:00 до 18:00.
  </p>

</div>
{% endblock %}
