{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<h2>Добро пожаловать, {{ user.username }}!</h2>
<h3>Ваши заказы:</h3>
<ul class="list-group">
    {% for order in orders %}
    <li class="list-group-item">
        Заказ #{{ order.id }} - {{ order.total_price }} руб. ({{ order.get_status_display_rus }})
    </li>
    {% empty %}
    <p>Вы ещё не делали заказов.</p>
    {% endfor %}
</ul>
<a href="{% url 'logout' %}" class="btn btn-danger mt-3">Выйти</a>
{% endblock %}
